.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}